<div class='col-md-3'>
  <%= link_to bookmark.title, topic_bookmark_path(topic, bookmark) %>
  <br>
  <i class="glyphicon glyphicon-star"> </i>&nbsp;(<%= pluralize(bookmark.likes.count, 'like') %>)
</div>
