<div class="media">
  <div class="media-body">
    <h4 class="media-heading" id="bookmarks">
      <%= link_to bookmark.title, topic_bookmark_path(bookmark.topic, bookmark) %>
    </h4>
  </div>
</div>
