<div class="jumbotron">
  <h1 id="index-header">BlocMark!</h1>
  <p id="index-p">Share your Bookmarks with the world and spread helpful tips and tricks.</p>
</div>
<% @topics.each do |topic| %>
<div class="container">
  <div class="row text-center" id="topics">
    <h3>
      <em><%= link_to topic.title, topic %>
      </em>
    </h3>
    <div class="column text-center" id="bookmarks">
      <% topic.bookmarks.first(3).each do |bookmark| %>
      <div class='col-md-4'>
        <%= link_to bookmark.title, topic_bookmark_path(topic, bookmark) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
