<h1 id="index-header">BlocMark!</h1>
<div class="jumbotron">
</div>
<% @topics.each do |topic| %>
<div class="container">
  <div class="row" id="topics">
    <h3>
      <em><%= link_to topic.title, topic %></em>
    </h3>
    <hr>
    <div class="column" id="bookmarks">
      <% topic.bookmarks.first(4).each do |bookmark| %>
      <div class='col-md-3'>
        <%= link_to bookmark.title, topic_bookmark_path(topic, bookmark) %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
