<h1 id="topics-show">New Topic</h1>
<div class="container">
  <div class="col-md-4">
    <%= form_for @topic do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter topic title" %>
      </div>
        <%= f.submit "Save", class: 'btn btn-xs btn-info' %>
    <% end %>
  </div>
</div>
