@import "bootstrap-sprockets";
@import "bootstrap";


body {
  // background-image: url(http://i.imgur.com/EzJzNY0.jpg);
  // background-image: url(http://i.imgur.com/WoHaUuT.jpg);
  // background-position: center;
  // background-size: cover;
  background-color: #e2f6ff;
  width: 100%;
  height: 100%;
}

body #bookmarks a{
  font-size: 16px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

span #stars {
  color: #0400ba;
}
.field {
  color: #f7690e;
}

.jumbotron {
  background: #000 url(http://i.imgur.com/8dRB795.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
  width: auto;
  height: 220px;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.devise {
  color: #51bfe8;
}

#topics-show {
  color: #51bfe8;
  text-align: center;
  font-style: italic;
}

#topics {
  color: #51bfe8;
}

#topics a{
  color: #51bfe8;
}

#bookmarks a{
  color: #f7690e;
}

#bookmarks {
  color: #f7690e;
}

#index-p {
  text-align: left;
  font-size: 20px;
  color: #e8e8e8;
  font-weight: bold;
  font-style: italic;
}

#index-header {
  text-align: left;
  color: #0d104d;
  font-size: 85px;
}

.table-minimal {
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-background-color: white !default;
  $base-line-height: 1.5em !default;
  $base-spacing: 1.5em !default;
  $action-color: #477DCA !default;
  $base-link-color: $action-color !default;
  $dark-gray: #333 !default;
  $light-gray: #DDD !default;
  $medium-screen: em(640) !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: $base-background-color;
  $table-header-background: lighten($table-background, 10);
  $table-hover-background: darken($table-background, 2);
  $table-stripe-background: darken($table-background, 4);
  $table-stripe-background-hover: darken($table-stripe-background, 5);
  $table-padding: .75em 1em;

  border-collapse: separate;
  border-spacing: 0;
  width: 100%;

  tbody {
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-background;
    }
    tr:first-child td {
      border-top: 2px solid $table-border-color;
    }
  }

  thead {
    th {
      background-color: $table-header-background;
      border-bottom: 0px;
      padding: $table-padding;
      text-align: left;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      border-bottom: 0px;
      border-top: 1px solid $table-border-color;
      line-height: $base-line-height;
      padding: $table-padding;
    }
  }
}

.table-minimal {
    border: 1px solid light-gray;
}
