@import "bootstrap-sprockets";
@import "bootstrap";
body {
  // background-image: url(http://i.imgur.com/EzJzNY0.jpg);
  // background-image: url(http://i.imgur.com/WoHaUuT.jpg);
  // background-position: center;
  // background-size: cover;
  background-color: #e2f6ff;
  width: 100%;
  height: 100%;
}

body #bookmarks a{
  font-size: 16px;
}
.field {
  color: #f7690e;
}
.jumbotron {
  background: #000 url(http://i.imgur.com/8dRB795.jpg) center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin-top: 20px;
  width: auto;
  height: 220px;
}

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.devise {
  color: #51bfe8;
}

#topics-show {
  color: #51bfe8;
  text-align: center;
  font-style: italic;
}

#topics {
  color: #51bfe8;
}

#topics a{
  color: #51bfe8;
}

#bookmarks a{
  color: #f7690e;
}

#bookmarks {
  color: #f7690e;
}

#index-p {
  text-align: left;
  font-size: 20px;
  color: #e8e8e8;
  font-weight: bold;
  font-style: italic;
}

#index-header {
  text-align: left;
  color: #0d104d;
  font-size: 90px;
}
